In [1]:
import pandas as pd

In [3]:
dizionario = {"Giorno":["Lunedi", "Martedi", "Mercoledi"], "prezzo":[3.5,6,8]}

In [4]:
dati = pd.DataFrame(dizionario)
dati

      Giorno  prezzo
0     Lunedi     3.5
1    Martedi     6.0
2  Mercoledi     8.0

In [5]:
print(dati)

      Giorno  prezzo
0     Lunedi     3.5
1    Martedi     6.0
2  Mercoledi     8.0

In [7]:
dati["Giorno"]

0       Lunedi
1      Martedi
2    Mercoledi
Name: Giorno, dtype: object

In [8]:
dati["prezzo"]

0    3.5
1    6.0
2    8.0
Name: prezzo, dtype: float64